* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}


body {
    padding: 20px;
}


.flex-cont {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
}


.flex-cont-col {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;

    margin-top: 10px;
}